<!doctype html>
<html lang="en">
  <head>
    <style>
      .container-image-main-header {
        justify-content: center;
        position: relative;
        text-align: center;
        color: white;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
      }

      .container-image-main-header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .top-left-main-header {
        position: absolute;
        top: 8px;
        left: 16px;
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
      }

      .instagram-icon {
        width: 40px;
        height: 40px;
        margin-right: 10px; /* Espacio entre el icono y el texto */
      }

      .instagram-text {
        font-family: "Sour Gummy", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra en el texto */
        font-size: 24px;
      }

      .centered-main-header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "Sour Gummy", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-shadow: 3px 3px black;
      }

      @media (max-width: 768px) {
        .container-image-main-header {
          height: 500px; /* Aumenta la altura para pantallas más pequeñas */
        }
      }

      @media (max-width: 576px) {
        .container-image-main-header {
          height: 600px; /* Aún más grande para pantallas móviles */
        }
      }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TodoAnimes Oficial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Sour+Gummy:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body style="background-color: #65e2fb;">
    <div class="container-image-main-header">
      <img src="https://thicc.mywaifulist.moe/series/miss-kobayashi-s-dragon-maid/6Gmlfk1MOKCX1S7WOiYGQNkdW5Kl5DiKUcyeD9im.png" alt="Snow" style="table-layout: fixed;">
      <a href="https://www.instagram.com/" class="top-left-main-header" target="_blank">
        <img src="https://img.icons8.com/?size=100&id=TSZw5VixabhS&format=png&color=000000" alt="Instagram" class="instagram-icon">
        <span class="instagram-text">TodoAnime</span>
      </a>
      <div class="centered-main-header">
        <h1>Bienvenido a TodoAnime!</h1>
      </div>
    </div>

    {{{body}}}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
