<style>
    --padding: 14px;


    .search{
        width: max-content;
        display: flex;
        align-items: center;
        padding: var(--padding);
        border-radius: 28px;
        background: #f6f6f6;
    }
    .search-input{
        font-size: 16px;
        font-family: 'Lexend',sans-serif;
        color: #333333;
        margin-left: var(--padding);
        outline: none;
        border: none;
        background: transparent;
    }
</style>


<div class="container">
    <div class="col-12" style="text-align: center; margin-top: 5px; opacity: 0.8; text-decoration-line: underline;">
        <h5>Tu pagina de confianza para visualizar anime</h5>
    </div>

</div>